* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  background: var(--cBack)
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--header);
  height: 80px;  
  border-bottom: rgba(255, 255, 255, 0.24) solid 0.5px;
}

:root {
  --header: rgb(0, 0, 27);
  --fCor: rgb(0, 0, 27);
  --tfCor: rgba(255, 255, 255, 0.514);
  --text: white;
  --tG: rgb(152, 43, 255);
  --lCor: rgba(255, 255, 255, 0.596);
  --lhCor: rgb(255, 255, 255);
  --iCor: white;
  --cBarra: #7700ff;
  --cTiktok: rgba(255, 255, 255, 0.418);
  --cGithub: rgba(255, 255, 255, 0.418);
  --cgtHover: white;
  --cBack: linear-gradient(to right, rgb(16, 0, 32), rgb(36, 0, 21));
  --bBack: rgb(0, 0, 27);
  --cbBorder: rgba(255, 255, 255, 0.24);
  --bShadow: rgba(255, 255, 255, 0.24);
  --tBox: rgb(255, 255, 255);
  --tbShadow: rgba(255, 255, 255, 0.733);
}

.light-mode {
  --header: rgb(204, 102, 18);
  --fCor: rgb(204, 102, 18);
  --tfCor: rgba(0, 0, 0, 0.63);
  border-bottom: rgba(0, 0, 0, 0.473) solid 0.5px;
  --footer: #ffffff;
  --text: black;
  --tG: rgb(100, 0, 214);
  --lCor: rgba(0, 0, 0, 0.39);
  --lhCor: rgb(255, 255, 255);
  --iCor: rgb(255, 255, 255);
  --cBarra: #000000;
  --cTiktok: rgb(255, 255, 255);
  --cGithub: rgb(255, 255, 255);
  --cgtHover: rgb(0, 0, 0);
  --cBack: linear-gradient(to right, rgb(189, 27, 121), rgb(73, 0, 156));
  --bBack: rgba(251, 255, 0, 0.562);
  --cbBorder: rgba(0, 0, 0, 0.411);
  --bShadow: rgba(0, 0, 0, 0.5);
  --tBox: rgb(0, 0, 0);
  --tbShadow: rgba(0, 0, 0, 0.479);
}

#tMenu {
  color: var(--text);
  font-size: 25px;
  font-family: 'Arial', sans-serif;
  padding-top: 21px;
  padding-left: 140px;
  font-weight: bold;
}

#tG {
  color: var(--tG);
}

#bModo {
  background-color: rgb(0, 0, 20);
  width: 43px;
  height: 43px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.24);
  position: relative;
  left: 87%;
  bottom: 141%;
}

#tBMenu {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 6%;
  bottom: 30%;
}

a {
  text-decoration: none;
  user-select: none;
}

p {
  user-select: none;
}

.menu {
  display: flex;
  gap: 45px;
  list-style: none;
  position: relative;
  left: 900px;
  bottom: 79px;
}

#mInicio, #mComoJogar, #mSobre, #mRanking {
  color: var(--lCor);
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  transition: color 0.3s ease;
}

#mInicio::after, 
#mComoJogar::after, 
#mSobre::after, 
#mRanking::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 3px;
  background: var(--cBarra);
  border-radius: 20px;
  transition: width 0.3s ease;
}

#mInicio:hover,
#mComoJogar:hover,
#mSobre:hover,
#mRanking:hover {
  color: var(--lhCor);
}

#mInicio:hover::after,
#mComoJogar:hover::after,
#mSobre:hover::after,
#mRanking:hover::after {
  width: 100%;
}

#mSobre {
  color: var(--lCor);
}

#mSobre::after {
  width: 100%;
}

#brain {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 50%;
  left: 2.6%;
  animation: pulse 5s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        filter: drop-shadow(0 0 2px #ff00cc);
    }

    50% {
        transform: scale(1.15);
        filter: drop-shadow(0 0 10px #8a2be2);
    }
}

#moon {
  stroke: white;
  position: relative;
  left: 3%;
  top: 3%;
}

#bModo:hover, #bSom:hover{
  border-color: white;
  transition: border-color 0.8s ease;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--fCor);
  height: 80px;  
  border-top: rgba(255, 255, 255, 0.24) solid 0.5px;
  top: 820px;
}

#tFooter {
  font-size: 19px;
  color: var(--tfCor);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 2px;
}

#Github {
  color: var(--cGithub);
  width: 35px;
  height: 35px;
  position: relative;
  left: 220px;
  top: 4px; 
}

#Github:hover, #Tiktok:hover {
  color: var(--cgtHover);
  transition: color 0.5s ease;
}

#Tiktok {
  color: var(--cTiktok);
  width: 35px;
  height: 35px;
  position: relative;
  left: 250px;
  top: 4px; 
}

.box {
  width: 800px;
  height: 500px;
  background-color: var(--bBack);
  border-radius: 40px;
  border: 1px solid var(--cbBorder);
  box-shadow: 0 0 23px var(--bShadow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tBox);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 30px;
  text-indent: 1em;
  text-shadow: 0px 1px 10px var(--tbShadow);
}

#bSom {
  background-color: rgb(0, 0, 20);
  width: 44px;
  height: 44px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.24);
  position: relative;
  left: 88.5%;
  bottom: 142%;
}

#som {
  stroke: white;
  position: relative;
  top: 1px;
}

#mut {
  stroke: white;
  position: relative;
  top: 1px;
}

#sun {
  stroke: white;
  position: relative;
  top: 4.5%;
}