* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

body {
  background-color: black;
}

.menu {
  background: linear-gradient(90deg, #461111, #3f2710, #3d3d0f, #124112, #0e0e3a);
  height: 67px;  
  border-bottom: rgba(255, 255, 255, 0.527) solid 0.5px; 
}

#tMenu {
  color: white;
  font-size: 25px;
  font-family: 'Arial', sans-serif;
  padding-top: 16px;
  padding-left: 130px;
  font-weight:500;
}